.step {
    width: 1000px;
    padding-left: 160px;
}

.step ul li:before {
    content: "★";
    text-shadow: 0 0 5px rgba(50,50,50,0.7);
    color: transparent;
    margin-right: 0.5em;
}

.step ul li.multiLine:before {
    content: none;
}

.step ul li.multiLine {
    padding-left: 1.5em;
}

.step ul li.extraPadding {
    padding-left: 4em;
}

.step ul {
    font-size: 28px;
}

sub {
    font-size: 0.6em;
    vertical-align: bottom;
}

sup {
    font-size: 0.6em;
    vertical-align: top;
}

.stepWrapper {
    padding: 40px;
    padding-left: 250px;
}

.notes {
    display: none;
}



.graphContainer {
    position: absolute;
    top: 50%;
    -webkit-transform-origin: 0% 50%;
    -webkit-transform: translate(0%, -50%);
}


svg {
    position: relative;
    width: 1500px;
    height: 1000px;
    left: -190px;
}

.nodeLabel {
    pointer-events: none;
    /*-webkit-transform: translate(-4px, 3px);*/
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 15px;
}

.directed .edge {
    marker-end: url("#Arrow");
}

.pattern {
    fill: red;
}

.target {
    fill: blue;
    stroke: #888;
}

h1 {
    font-size: 2.0em;
    text-transform: lowercase;
    color: transparent;
    text-shadow: 2px 2px 10px rgba(50,50,50,.8);
    position: absolute;
    /*-webkit-transform-origin: 100% 100%;
    -webkit-transform: translate(-106%, -70%) rotate(-90deg);*/

    top: 50%;
    -webkit-transform-origin: 0% 50%;
    -webkit-transform: translate(-103px, 100%) rotate(-90deg);
}

h2 {
    font-size: 50px;
    line-height: 72px;
    margin-top: 100px;
    text-align: center;
}

.hide {
    opacity: 0;
    -webkit-transition: opacity 1s;
}

.show {
    opacity: 1;
    -webkit-transition: opacity 1s;
}

.step.presentOnly {
    opacity: 0;
}

.step.presentOnly.present {
    opacity: 1
    -webkit-transition: opacity 1s;
}



#title h4 {
    font-size: 20px;
    text-align: center;
}

#title h3 {
    line-height: 52px;
    font-size: 30px;
}

#title h3:nth-child(3) {
    padding-top: 0px;
    /*padding-right: 100px;*/
    text-align: center;
}

#title h3:nth-child(4) {
    padding-top: 100px;
    /*padding-right: 100px;*/
    text-align: center;
}



#def .text1 {
    position: absolute;
    top: -240px;
}

#def .text2 {
    position: absolute;
    top: 266px;
}



#variations.part1 .mark1 {
    font-weight: bold;
    -webkit-transition: font-weight 1s;
}



#usage .centering {
    padding-left: 80px;
}



#algorithms .centering {
    padding-left: 100px;
}

#algorithms.part1 .mark1 {
    font-weight: bold;
}



#ullmann1 table {
    font-size: 25px;
}

#ullmann1 td {
    padding: 0px 4px 0px 4px;
    line-height: 1;
    vertical-align: middle;
}

#ullmann1 .table1 {
    position: absolute;
    top: -70px;
    left: 120px;
}

#ullmann1 .table2 {
    position: absolute;
    top: -100px;
    left: 600px;
}

#ullmann1 .text1 {
    position: absolute;;
    top: 150px;
}

#ullmann1 .table3 {
    position: absolute;;
    top: 150px;
    left: 333px;
}

#ullmann1 .highligth {
    color: red;
}

#ullmann1 .highligth2 {
    color: #66ff00;
}

#ullmann1 .highligth3 {
    color: #ffb400;
}

#ullmann1 .text2 {
    position: absolute;
    top: -40px;
    left: 250px;
}




.border-left {
    border-left: 1px solid black !important;
}

.border-right {
    border-right: 1px solid !important;
}

.dimmed {
    opacity: 0.5;
}

.dimmedNode {
    opacity: 0.2;
}